<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857996125736-500f37daumovj6n6nqk5i1vuqa6imeai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857996125736-500f37daumovj6n6nqk5i1vuqa6imeai</string>
	<key>API_KEY</key>
	<string>AIzaSyBkOduvxN51toM2YQb3RRcXvKdp8YiZ4dM</string>
	<key>GCM_SENDER_ID</key>
	<string>857996125736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roca.Employees</string>
	<key>PROJECT_ID</key>
	<string>employees-90b7b</string>
	<key>STORAGE_BUCKET</key>
	<string>employees-90b7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857996125736:ios:257d3a33492f096d9eb71d</string>
</dict>
</plist>